/* reset : make it the same across platform */
*,
*::before,
*::after {
  /* start clean */
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /*define 1rem font-size to 10px*/
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

/* End reset */
.hidden {
  display: none; }

body {
  font-family: "Poppins", sans-serif;
  color: #777;
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(227, 185, 184, 0.8), rgba(229, 149, 143, 0.8)); }

#output {
  background-color: #777; }
